@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Ubuntu&display=swap');

*{
    padding: 0;
    margin: 0;
}
html {
    scroll-behavior: smooth;
}
:root {
    --primary: #ff2442;
    --dark-gray: #171717;
    --dark-light-gray: #2f2a2a;
}

body {
    background-color: #e9f2f7;
    color: #000;
    font-family: "Comfortaa", sans-serif;
    box-sizing: border-box;
    overflow-x: hidden;
}
body::-webkit-scrollbar {
    width: 10px;
  }
   
  body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
   
  body::-webkit-scrollbar-thumb {
    background-color: var(--primary);
    border-radius: 500px;
  }

.container {
    max-width: 70rem;
    margin: 0 auto;
}
#particles-js {
    position: absolute;
    width: 100%;
    height: 70vh;
    z-index: -5;
}

/*-------------------- navbar -------------------------*/
.navbar {
    display: flex;
    justify-content: space-between;
    height: 10vh;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    border-bottom: 1px solid rgba(255,255,255,.01);
    backdrop-filter: blur(10px);
    padding: 0 180px;
    z-index: 4;
}
.name h4{
    font-weight: 900;
    font-style: bold;
}
.navbar .name h4 a {
    color: var(--primary);
    text-decoration: none;
    position: relative;
    z-index: 6;
}
#menu-toggle {
    display: none;
}

.menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
.menu-button,
.menu-button::before,
.menu-button::after {

  background-color: #FFFFFF;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}
.menu-button::before {
    content: '';
    margin-top: -8px;
  }
  
  .menu-button::after {
    content: '';
    margin-top: 8px;
  }

  #menu-toggle:checked + .menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
  }
  #menu-toggle:checked + .menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
  }
  


.list {
    display: flex;
    list-style-type: none;
    gap: 80px;
}
.list-item{
    font-weight: 700;
    cursor: pointer;
    color: #000;
}
.list-item a {
    color: var(--primary);
    text-decoration: none;
}

@media only screen and (max-width: 995px) {
    .navbar {
        padding: 0 50px;
    }
}

@media only screen and (max-width: 555px) {
    .navbar .name h4 {
        visibility: hidden;
    }
    .navbar .name h4 {
        visibility: visible;
        color: var(--primary);
    }
}
@media only screen and (max-width: 666px) {



    .menu-button-container {
        display: flex;
      }
      .list {
        position: absolute;
        top: 0;
        margin-top: 50px;
        left: 0;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
        backdrop-filter: blur(19px);
        background-color: rgba(0,0,0,.95);
      }
      #menu-toggle ~ .list li {
        height: 0;
        margin: 0;
        padding: 0;
        border: 0;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    #menu-toggle:checked ~ .list li {
        display: flex;
        height: 2.5em;
        padding: 1.5em .2em .2em .2em;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
      }
      .list > li {
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0.5em 0;
        width: 100%;
        color: white;
      }
      .list > li:not(:last-child) {
        border-bottom: 1px solid #444;
      }

    
} 


/*---------------------- main section ----------------------*/
.main {
    display: flex;
    justify-content: center;
    gap: 100px;
    margin-top: 220px;
    height: 90vh;
}

.left h1 {
    font-size: 1.2rem;
    margin-bottom: 20px;
}
.left h1 span:nth-child(2) {
    color: var(--primary);
}
.left p {
    font-size: 2rem;
    line-height: 50px;
}
.left .typing-container {
    display: inline-block;
}
.button-container a {
    border: 1px solid var(--primary);
    background-color: transparent;
    color: #000000;
    padding: 14px 40px;
    margin-top: 30px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2rem; 
    transition: background-color .2s;
    text-decoration: none;
    display: inline-block;
}
.button-container a:hover {
    background-color: var(--primary);
    color: #FFFFFF;
    box-shadow: 0 0 10px 8px rgba(0, 0, 0, .2);
}
.left div .typing {
    display: inline-block;
    font-size: 1.1rem;
    margin-top: 40px;
}
.right {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.person {
    /* width: 300px; */
    height: 400px;
    overflow: hidden;
    margin-top: -80px;
}
.person img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.social-icons {
    display: flex;
    gap: 40px;
    margin-top: 20px;
    margin-right: 50px;
    font-size: 1.1rem;
}
.social-icons a {
    color: #FFFFFF;
    font-size: inherit;
    background-color: var(--dark-light-gray);
    height: 40px;
    width: 40px;
    display: inline-flex;
    text-decoration: none;
    border-radius: 50px;
    align-items: center;
    justify-content: center;
    transition: box-shadow .1s linear, background-color .1s linear;

}
.social-icons a:hover {
    box-shadow: 0 0 10px 8px rgba(0, 0, 0, .1);
    background-color: var(--dark-gray);
}
.arrow {
    position: absolute;
    bottom: 80px;
    animation: arrowAnim 4s infinite;
    z-index: -1;
}
.main .glob {
    position: absolute;
    left: -190px;
    bottom: 10px;
    z-index: -1;
}


@media only screen and (max-width: 995px) {
    .main .left h1 {
        font-size: 1rem;
    }
    .main .left p {
        font-size: 1.5rem;
    }
    .main .left div .typing {
        font-size: .9rem;
    }
    .main .right .person {
        height: 350px;
    }
    .main .right .social-icons a {
        width: 30px;
        height: 30px;

        font-size: .8rem;
    }
    .button-container a {
        padding: 10px 30px;
    }
}
@media only screen and (max-width: 816px) {
    .main {
        flex-direction: column;
        align-items: center;
        margin-top: 170px;
    }
    .main .arrow {
        bottom: -220px;
    }
    .main .left {
        order: 2;
        margin-top: -50px;
    }
    .main .right {
        order: 1;
    }
    .projects {
        margin-top: 240px;
    }
    .projects > h1 {
        font-size: 2.8rem !important ;
    }
}
@media only screen and (max-width: 666px) {
    .list {
        flex-direction: column;
        gap: 0px;
        margin-top: 64px;
    }
    .list li {
        overflow: hidden;
    }
    .main .arrow {
        bottom: -220px;
    }
    .main .right .person {
        height: 250px;
        overflow: hidden;
        margin-top: -180px;
    }

}


/*------------------- projects section ---------------------*/
.projects > h1 {
    font-size: 4rem;
    margin-bottom: 40px;
}
.projects > h1::after {
    content: "";
    display: block;
    background-color: var(--primary);
    width: 100px;
    height: 2px;
    border-radius: 50px;
    margin-top: 10px;
}
.project-cards {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 150px;
    justify-content: center;
    gap: 40px;
}



.card {
    width: 40%;
    height: 330px;
    background-color: var(--dark-light-gray);
    border-radius: 8px;
    overflow: hidden;
    padding: 0px 20px;
    position: relative;
}
.card-content .heading {
    display: flex;
    align-items: center;
    padding: 16px 4px 4px 4px;
}
.heading i {
    color: var(--primary);
    padding-right: 10px;
    font-size: 1.2rem;
}
.heading p{
    color: #FFFFFF;
}
.card-img img:hover {
    filter: brightness(10%);
    transition: all .2s;
    cursor: pointer;
}
.card > img {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: inline-block;
    object-fit: fill;
    filter: blur(20px) brightness(60%);
}
.card-content {
    position: relative;
    z-index: 2;
}
.card-img {
    width: 100%;
    height: 240px;
    overflow: hidden;
}
.card-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.card-footer {
    padding: 20px;
    margin-top: -20px;
}
.card-footer {
    display: flex;
    justify-content: space-between;
}
.card-footer .btn {
    border: none;
    background-color: transparent;
    color: #e9f2f7;
    padding: 10px 0;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    text-decoration: none;
    text-align: center;
}
.card-content .card-footer .btn:hover {
    backdrop-filter: blur(80px);
}


@media only screen and (max-width: 555px) {
    .project-cards .card {
        width: 100%;
        margin: 0  20px;
    }
}








@keyframes arrowAnim {

    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(20px);
    }
    100% {
        transform: translateY(0px);
    }
}


/* typewriter effect */
.typewriter {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid var(--primary); /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto;     
    letter-spacing: .15em;
    animation: 
      typing 2s steps(40, end),
      blink-caret .75s step-end infinite;
      padding-right: 10px;

  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: var(--primary); }
  }